<h1>Employees List</h1>
  <table class="table table-hover">
    <thead>
      <th>Name</th>
      <th>Position</th>
      <th>Employee Code</th>
      <th>Mobile</th>
      <th>Delete/Update</th>
    </thead>
    <tbody>
      <tr *ngFor="let emp of list">
        <td>{{emp.fullName}}</td>
        <td>{{emp.position}}</td>
        <td>{{emp.empCode}}</td>
        <td>{{emp.mobile}}</td>
        <td>
          <a class="btn text-danger" (click)="onDelete(emp.id)"><i class="fa fa-trash"></i></a>
          <a class="btn text-danger" (click)="onEdit(emp)"><i class="fa fa-edit"></i></a>
        </td>
      </tr>
    </tbody>
  </table>

